In [ ]:
x=5
print('before')
if x==5 :
  print ('is 5')
  print('is still 5')
  print('third 5')
print('afterwards')
print('before 6')

In [ ]:
x=5
if x>2 :
  print("bigger then 2")
  print('still bigger')
print("done with 2")


for i in range(5)  :
  print(i)
  if i>2 :
    print('Bigger than 2')
    print("done with i",i)
print('all done')

In [ ]:
x=42
if x>1 :
  print('more than one')
  if x<100 :
    print('less than 100')
print('all done')

more than one
less than 100
all done

In [ ]:
x=4
if x>2 :
  print('Bigger')
else :
  print('not bigger')
print("all done")

Bigger
all done

In [ ]:

astr='hello bob'
istr=int(astr)
print('first',istr)

ValueError: ignored

In [ ]:
astr='123'
istr=int(astr)
print('Second',istr)

Second 123

In [ ]:
astr='hello bob'
istr=int(astr)    #rectify using try method
print('first',istr)
astr='123'
istr=int(astr)
print('Second',istr)

ValueError: ignored

In [ ]:
astr='hello Bob'
try:
  istr=int(astr)
except:
  istr=-1
print('first',istr)
istr=int(astr)

In [ ]:
astr="Bob"
try:
  print('hello')
  istr=int(astr)
  print('there')
except:
  istr=-1
print('done',istr)

hello
done -1

In [ ]:
big=max('hello world')
print(big)
tiny=min('hello world')  #smallest word is space
print(tiny)

w

In [ ]:
for i in [2,3,4,5,6,1]:
 print(i)

2
3
4
5
6
1

In [ ]:
smallest=None
print('before')
for value in [1,2,3,4,56,6] :
  if smallest is None :
    smallest=value
  elif value < smallest:
      smallest=value
print('after',smallest)

before
after 1

In [ ]:
smallest=None
print('before')
for value in [1,2,3,4,56,6] :
  if smallest is None
  elif value < smallest:
      smallest=value
print('after',smallest)

In [ ]:
hours=float(input("enter hours"))
Rate=float(input("enter rate"))
pay=hours*Rate
print('pay:',pay)

enter hours35
enter rate2.75
pay 96.25